.content {
    display: flex;
    flex-direction: column;
}
.content_1 {
    font-family: 'Russo One', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #000000;
}
.content_2 {
    font-weight: 700;

    font-size: 55px;
}
.content_3 {
    font-weight: 700;
    color: #000;
}
.leadingContent {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.get-start {
    margin-top: 30px;
    background-color: #00adb5;
    width: 150px;
    height: 60px;
    color: white;
    font-weight: 700;
    margin-left: 15px;
}
.content_img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.afther_footer {
    background-color: #7ce7cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 280px;
}
.afther_footer span {
    font-weight: 700;
}
