.loginBtn {
    color: #eeeeee;
    font-weight: 700;
    background-color: #d65a31;
}

.signinup {
    display: inline-block;
    padding: 2px 10px;
}

.btnin {
    padding: 2px 10px;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 20px;
    width: 150px;
    background-color: #d65a31;
}
.btnin:active {
    background-color: #393e46;
    border: solid 4px #d65a31;
    color: #eeeeee;
}
.btnup {
    padding: 2px 10px;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 20px;
    width: 150px;
    border: solid 4px #d65a31;
    color: #eeeeee;
}
.btnup:hover {
    color: #eeeeee;
}
.btnup:active {
    background-color: #d65a31;
    color: #393e46;
}
.loginBtn:active {
    background-color: #a53e1b;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup {
    margin-top: 30px;
}
.logo {
    transition: 0.5s;
    height: 50px;
    cursor: pointer;
}
.logo:active {
    transform: translate(6px, 2px);
}
.header {
    /* position: fixed; */
    /* box-shadow: 0 0 20px #000000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    /* background-color: #222831; */
    /* border-bottom: solid 1px white; */
    padding: 15px 110px;
}
.cardBody {
    box-shadow: 0px 0px 20px #0000008c;
}
.or {
    text-align: center;
    margin-bottom: 10px;
}
