/* body {
    background-color: #222831;
} */

.pieChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.linerChart {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cart {
    margin-top: 30px;
    margin-left: 20px;
    background-image: linear-gradient(
        to right,
        rgba(10, 10, 10, 0.651),
        rgba(236, 114, 57, 0.699)
    );

    box-shadow: 0 0 10px #000000;
    width: 200px;
    height: 100px;
    /* border: black solid 2px; */
    border-radius: 15px;
    padding: 5px;
}
.linerChart-container {
    display: flex;
    justify-content: center;
}
.linerChartPosition {
    margin-top: 35px;
}
